style(amp-custom='').
  .story{
        margin: 20px;
        display: flex;
        text-align: justify;
    }
    .storyitem{
        padding: 25px;
    }

.story
  .storyitem
    amp-img(src='https://unsplash.it/300/200/?image=100' width='620' height='300' alt='Example image' [src]='myImageUrl' [alt]='myImageAlt')
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis, metus a tristique aliquet, enim nibh efficitur sem, ut iaculis urna justo eu diam. Nullam cursus sapien et sodales posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Donec vitae ornare risus. Maecenas eleifend ante vel dui laoreet, et porttitor libero rutrum. Nam arcu mi, ullamcorper at risus et, pulvinar ultrices erat. In pellentesque sem vel purus auctor, ut venenatis tellus tristique. Phasellus molestie diam orci, nec gravida turpis bibendum ut. Sed sagittis aliquet lorem sed dictum.
    button(on="tap:AMP.setState({ myImageUrl: '#', myImageAlt: 'Another example image' })") More
  .storyitem
    amp-img(src='https://unsplash.it/300/200/?image=100' width='620' height='300' alt='Example image' [src]='myImageUrl' [alt]='myImageAlt')
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis, metus a tristique aliquet, enim nibh efficitur sem, ut iaculis urna justo eu diam. Nullam cursus sapien et sodales posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Donec vitae ornare risus. Maecenas eleifend ante vel dui laoreet, et porttitor libero rutrum. Nam arcu mi, ullamcorper at risus et, pulvinar ultrices erat. In pellentesque sem vel purus auctor, ut venenatis tellus tristique. Phasellus molestie diam orci, nec gravida turpis bibendum ut. Sed sagittis aliquet lorem sed dictum.
    button(on="tap:AMP.setState({ myImageUrl: '#', myImageAlt: 'Another example image' })") More
